.cart{
    height: 100vh;
    background-color: #F3F1F2;
    padding-top: 140px;
    padding-bottom: 50px;    
}
.cart-heading h1{
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 400;
}
.table > td{
    border-right: none !important;
}
.product-image{
    height: 50px !important;
}
.table > :not(caption) > * > *{
    background-color: transparent !important;
}
.quantity-input{
    background-color: transparent !important;
    border: 1px solid black !important;
}
.quantity{
    width: 5%;
}